@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  margin: 0;
}
.container{
  display: block;
  margin: 0;
  background-image: url(img/bg.jpg);
  font-family: 'ONE-Mobile-Regular';
}
.main_menu {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9vh;
  background-color: #d0e2e4;
  font-family: 'S-CoreDream-3Light';
  z-index: 9999;
}
#logo1{
  position:relative;
  float:left;
  margin-left: 10px;
  margin-top: 5px;
  width: auto;
  height: 7.5vh;
}
ul {
  list-style: none;
  padding-top: 0px;
  padding-left: 100vh;
}
ul > li {
  position: relative;
  float: left;
  padding: 0 0 0 8%;
  overflow: hidden;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
.last{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom:2%;
}
#logo2{
  width: 90px;
  height: 50px;
}
.contact_us{
  float: left;
  color:grey;
  font-size: 8pt;
  margin-left: 1%;
}
